test_stage2/
train_stage2/
val_stage2/
ultralytics*/
datasets/
runs/
configs/
strhub/
parseq/
raw_videos/
raw_video/
frames/
analyze/
frame_video/
players/
pose_results/

# results_stage2
*.pyc
test*
*.pt
*.pth
*.exe
progress.json
messages.txt
tasks.txt
tasks*.txt
